.toggle-switch {
    -fx-pref-width          : 200;
    -fx-pref-height         : 200;
    -fx-min-width           : 80;
    -fx-min-height          : 80;
    -fx-max-width           : 300;
    -fx-max-height          : 300;
    -fx-background-color  : Transparent;
    -thumb-move-animation-time: 100;
    -toggle-display: left;
}

/*When Active*/
.toggle-switch:selected .thumb-area {
    -fx-background-color: Transparent;
}
.toggle-switch:selected .thumb {
    -fx-background-color: Chartreuse;

}
/*When Inactive*/
.toggle-switch .thumb-area {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5 100; /* describes length: 50+50 = 100 width, 5+5=10 height */
}

.toggle-switch .thumb {
    -fx-background-radius: 50 0 0 50;
    -fx-padding: 100 150;
    -fx-blend-mode: LIGHTEN;


}
.label {
    -fx-font: 28 px;
    -fx-text-fill: WHITE;
    -fx-alignment: CENTER;
    -fx-wrap-text: TRUE;
}

/*-thumb-move-animation-time*/
